* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */
.logoImage {
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.navList {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLink {
  font-size: 14px;
  color: #181919;
  font-weight: 700;
  cursor: pointer;
}

.navLink:hover {
  color: red;
  transition: 0.5s;
}

.dropbtn {
  color: #181919;
  font-size: 14px;
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f73347;
  transition: 0.5s;
}

/* Footer */
.footer {
  background-color: #030305;
  margin-top: 200px;
}

.footer a,
.footer p,
.footer li {
  color: #a2a2a2;
  font-size: 14px;
}

.footer p {
  line-height: 1.8;
}

.footer h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}

.footerTop {
  border-bottom: 1px solid #606060;
  padding: 50px 0 10px;
}

.footerMiddle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 0 40px;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid #606060;
  padding: 25px 0;
}

.footerAbout,
.footerContact,
.footerLink,
.footerNewsletter {
  width: 21%;
}

.footerAbout .socialList {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
}

.footerContact .contactItem,
.footerLink .linkItem {
  margin: 0 0 10px;
}

.footerNewsletter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footerNewsletter .footerForm {
  position: relative;
  margin-top: 30px;
}

.footerNewsletter .footerForm input {
  padding: 10px 37px;
  border-radius: 20px;
  outline: none;
  border-style: none;
}

.footerNewsletter .footerForm button {
  position: absolute;
  padding: 10px 25px;
  right: 4px;
  border-radius: 20px;
  background-color: #ff3334;
  color: #fff;
  border-style: none;
}
